*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Desafio */
.parent
{
  
   width: 600px;
   height: 600px;
   position: relative;
   left: 100px;
}

.text-example
{
    background-color: red;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 15px;
    left: 125px;
    
}

.text
{
    background-color: gray;
    border-radius: 50px;
    width: 500px;
    height: 300px;
    border: 2px;
}

.text-example-two
{
    position: relative;
    top: 20px;
 
}

.text-text
{
    width: 300px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 100px;
 


}


.parent
{
    /* le agregamos un borde de 2 pixeles, negro y de un estilo punteado(dotted) */
    border: 2px black dotted;
    /* se explicara despues */
    display: inline-block;
}

/* aqui sabemos que vamos a alterar todos los items que tenga la clase box */
.box
{
    /* en este caso estamos creando cuadritos  */
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

/* aqui estamos aprovechando la especificidad para poder darle un estilo independiente al item con el id=two */
#two
{
    background-color: green;
}

